<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newAuthor" method="POST">
        <label>First name</label>
        <input id="authorFirstName" name="firstName">
        <label>Last name</label>
        <input id="authorLastName" name="lastName">
        <select id="authorSex" name="sex">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
        <label>Date of Birth</label>
        <input type="date" id="authorBirthday" name="birthday">
        <label>Image URL</label>
        <input id="authorImage" name="image">
        <button>Submit</button>
    </form>
    
</body>
</html>