<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newQuote" method="POST">
        <label>Quote</label>
        <input id="quoteInput" name="quote">
        <select id="authorInput" name="authorId">
            <option value="1">Albert Einstein</option>
        </select>
        <label>Category</label>
        <select id="categoryInput" name="category">
            <option value="Inspirational">Inspirational</option>
        </select>
        <button>Submit</button>
    </form>
    
</body>
</html>